VITE_SUPABASE_URL=https://YOUR-PROJECT-REF.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-public-key
VITE_VAPID_PUBLIC_KEY=BIk1ds7R85W5SKYWrFTthRd8RSx6IeGZERNoTNIXGrGW_Gp-IeMZJOowqoE_BQ1RFUBksob80OVGsIadrnC6ll8
